{% extends "base.html" %}
{% load static %}

{% block title %}Recuperar Contraseña - Gifter’s{% endblock %}

{% block content %}

<section id="password-reset-section" class="section">
  <div class="container" data-aos="fade-up">

    <div class="container section-title text-center">
      <h2>Recuperar Contraseña</h2>
      <p><span>&nbsp;</span> <span class="description-title">¿Olvidaste cómo entrar?</span></p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        
        <p class="text-center mb-4">
          No te preocupes. Simplemente ingresa tu dirección de correo electrónico a continuación y te enviaremos un enlace para que puedas establecer una nueva contraseña.
        </p>

        <form method="post" action="{% url 'account_reset_password' %}" class="php-email-form">
          {% csrf_token %}
          
          {{ form.as_p }}
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar enlace de recuperación</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}