{% extends "base.html" %}
{% load static %}

{% block title %}Correo Enviado - Gifter’s{% endblock %}

{% block content %}
<section id="reset-done-section" class="section">
  <div class="container" data-aos="fade-up">

    <div class="container section-title text-center">
      <h2>¡Revisa tu Correo!</h2>
      <p><span>&nbsp;</span> <span class="description-title">Hemos enviado las instrucciones</span></p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        
        <p class="lead mb-4">
          Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña.
        </p>
        <p>
          Si no lo recibes en unos minutos, por favor, revisa tu carpeta de correo no deseado (spam).
        </p>
        <div class="mt-4">
            <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}