{% extends "base.html" %}
{% load static %}

{% block title %}Contraseña Cambiada - Gifter’s{% endblock %}

{% block content %}
<section id="reset-key-done-section" class="section">
  <div class="container" data-aos="fade-up">

    <div class="container section-title text-center">
      <h2>¡Todo Listo!</h2>
      <p><span>&nbsp;</span> <span class="description-title">Tu contraseña ha sido cambiada con éxito</span></p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        
        <p class="lead mb-4">
          Ya puedes usar tu nueva contraseña para iniciar sesión en tu cuenta.
        </p>

        <div class="mt-4">
            <a href="{% url 'account_login' %}" class="btn btn-primary">Iniciar Sesión</a>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}